body {
  font-family: "Poppins", arial, sans-serif;
  background-image: url("/img/backg.jpg");
}

h1 {
  color: #ffffff;
  font-size: 29px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 100;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: rgb(27, 107, 173);
}

span a {
  text-decoration: none;
  color: rgb(16, 0, 198);
}

span {
  color: #ffffff;
}

.weather-app-wrapper {
  max-width: 400px;
  margin: 70px auto;
  border-radius: 10px;
}

.weather-app {
  padding: 40px;
  border-radius: 10px;
  background-color: #eeeeee;
  background: linear-gradient(-210deg, #3785d4 30%, #74b0f9 70%);
  box-shadow: 0px 7px 30px 0px rgba(27, 36, 75, 0.201);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  cursor: default;
}
